body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-cool {
  background-repeat: no-repeat;
}

.ryu {
  float: left;
  width: 659px;
  height: 494px;
}

.hulk-ryu {
  float: right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  padding-left: 100px;
  -webkit-filter:hue-rotate(90deg);
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-cool {
  display: none;
}

.ryu-ready, .hulk-ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still, .hulk-ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing, .hulk-ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool, .hulk-ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 160px;
  left: 556px;
  float: left;
}

.hulk-ryu-hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 160px;
  right: 556px;
  float: right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter:hue-rotate(90deg);
}

.instructions {
  height: 300px;
  width: 540px;
  position: absolute;
  left: 560px;
  top: -24px;
}

.clicktext, .presstext {
  font-family: 'Abril Fatface', cursive;
  color: #333333;
  font-size: 2em;
  padding-top: 100px;
  text-align: center;
}
